.error{
  color: red;
  font-weight: 500;
  font-size: 30px;
}

.submit{
  font-size: 20px;
  color: black;
}

.submit:hover {
  background-color: yellow;
}

.submit:active{
  background-color: rgb(153, 153, 19);
}

.test {
  font-size: 24px;
  font-weight: 200;
  margin: 5;
  margin-left: 5px;
}
.input{
  margin: 3px 0;
  height: 3rem;
  width: 100%;
  border: 2px solid black;
  border-radius: 1rem;
}